.header{
    grid-area: header;
    background-color: #fff;
}

.header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    min-height: 75px;
}

.header .logo{
    font-size: 3rem;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.header a:hover .logo{
    color: coral;
}

.header nav ul{
    display: flex;
}

.header nav ul li a{
    font-size: 2rem;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.header nav ul li a:hover{
    background-color: coral;
    color: #fff;
}

.header nav label{
    display: flex;
    flex-direction: column;
}

.header .menu{
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.header .hamburguer{
    background-color: #000;
    position: relative;
    display: block;
    height: 2px;
    width: 30px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
} 

.header .hamburguer:before,
.header .hamburguer:after{
    background-color: #000;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
}

.header .hamburguer:before{
    top: -10px;
}

.header .hamburguer::after{
    bottom: -10px;
}

.header input{
    display: none;
}

.header input:checked ~ label .hamburguer{
    transform: rotate(45deg);
}

.header input:checked ~ label .hamburguer:before{
    top: 0;
    transform: rotate(90deg);
}

.header input:checked ~ label .hamburguer:after{
    bottom: 0;
    transform: rotate(90deg);
}

@media(max-width: 900px){
    .header .menu{ 
        display: block;
        cursor: pointer;
    }

    .header nav ul{
        display: none;
         width: 200px;
        background-color: #fff;
        padding: 20px;
        border-radius: 2rem;
    }

    .header input:checked ~ ul {
        display: block;
    }

    .header nav{
        position: absolute;
        top: 8px;
        right: 20px;
        z-index: 1;
    }

    .header nav ul a{
        text-align: center;
        display: block;
        padding: 20px;
    }
}