html{
    font-size: 62.5%;
}

body{
    grid-template-areas: "header header header header"
                         "hero hero hero hero"
                         "about about about about"
                         "services services services services"
                         "projects projects projects projects"
                         "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}



.hero{
    grid-area: hero;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url(../images/lemons.jpg) no-repeat center center;
    background-size: cover;
}

.hero .title{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 4rem;
}

.hero:after{
    content:url(../images/seta_preta.png);
    position: absolute;
    height: 35px;
    bottom: 40px;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow{
    0% { -webkit-transform: translateY(0); opacity: 0.4;}
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9;}
}

@media(max-width: 425px){
    .hero {
        height: 60vh;
    }

    .hero .title{
        font-size: 2.5rem;
    }
}

.about{
    grid-area: about;
}

.services{
    grid-area: services;
}

.projects{
    grid-area: projects;
}

.footer{
    grid-area: footer;
}
