html{
    font-size: 62.5%;
}

body{
    grid-template-areas: "header header header header"
                         "hero hero hero hero"
                         "about about about about"
                         "services services services services"
                         "projects projects projects projects"
                         "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}



.hero{
    grid-area: hero;
}

.about{
    grid-area: about;
}

.services{
    grid-area: services;
}

.projects{
    grid-area: projects;
}

.footer{
    grid-area: footer;
}
