html{
    font-size: 62.5%;
}

body{
    grid-template-areas: "header header header header"
                         "hero hero hero hero"
                         "about about about about"
                         "services services services services"
                         "projects projects projects projects"
                         "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}



.hero{
    grid-area: hero;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url(../images/lemons.jpg) no-repeat center center;
    background-size: cover;
}

.hero .title{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 4rem;
}

.hero:after{
    content:url(../images/seta_preta.png);
    position: absolute;
    height: 35px;
    bottom: 40px;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow{
    0% { -webkit-transform: translateY(0); opacity: 0.4;}
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9;}
}

@media(max-width: 425px){
    .hero {
        height: 60vh;
    }

    .hero .title{
        font-size: 2.5rem;
    }
}

.about{
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    max-width: var(--max-width-size);
    margin: 0 auto;
}

.about .item{
    padding: 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.about .item .title{
    font-weight: 700;
    font-size: 4rem;
}

.about .item .text{
    font-size: 1.8rem;
    margin: 30px 0;
    font-weight: 400;
}

.about .item .btn-know-more{
    font-size: 1.6rem;
    transition: 0.3s;
    align-self: flex-start;
}

.about .item .btn-know-more:hover{
    font-weight: 700;
    color: coral;
}

.about .image{
    height: 100%;
}

.about .image.right{
    background: url(../images/bridge.jpg) center center no-repeat;
    background-size: cover;
}

.about .image.left{
    background: url(../images/sky.jpg) center center no-repeat;
    background-size: cover;
}

@media(max-width: 425px){
    .about .item{
        text-align: center;
    }

    .about{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .about .item .title{
        font-size: 2.5rem;
    }
}

.services{
    grid-area: services;
}

.projects{
    grid-area: projects;
}

.footer{
    grid-area: footer;
}
